body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 16px;
	line-height: 24px;
	overscroll-behavior: none;
}

#modelSelector {
	visibility: visible;
	z-index: 10002;
  }

.mobile-dropdown {
visibility: visible;
display: flex;
justify-content: center;
align-items: center;
z-index: 10002;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

a, button, input, select {
	pointer-events: auto;
}

